* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid red;
    width: 1000px;
    margin: auto;
    background-color: antiquewhite;
}

header {
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: cadetblue;
}

h1 {
    border:2px solid brown;
    text-align: center;
    align-self:center;
    font-size: 88px;
}

h2 {
    margin: 20px 15px;
    text-align: left;
}

main {  
    border: 4px dashed green;
    background-color: lightgreen;
}

#about {
    display: flex;
    border: 3px solid orange;
}

nav {
    border: 2px dashed yellow;
    margin: 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    border: 2px solid black;
    height: 25px;
    width: auto;
    margin: 2px;
    padding: 2px;
    text-align: center;
    list-style-type:none;
}

header img {
    width: 100px;
    border-radius: 15px;
    margin: 5px;
}

p {
    border: orange solid 3px;
    width: 100%;
    margin: 5px;
}

footer {
    border:4px dashed maroon; 
    background-color: aquamarine;
}

.fa-brands {
    height: 50px;
    width:auto;
}